In [3]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
from sklearn import linear_model
pd.__version__

'0.16.2'

In [4]:
loan_2015 = pd.read_csv('data/2015.csv')
features = ['loan_amnt', 'term', 
       'emp_length', 'home_ownership', 'annual_inc',
       'pymnt_plan','purpose', 'dti', 'delinq_2yrs', 'inq_last_6mths',
        'open_acc','pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'acc_now_delinq','total_rev_hi_lim']

/Users/tedcheng/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [8]:
loan_2014 = pd.read_csv('data/2013-2014.csv')
loan_2013 = pd.read_csv('data/2012-2013.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,10149342,12000897,27050,27050,27050.000000,36 months,10.99%,885.46,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,59900,NaN,NaN,NaN
1,10159584,12011200,9750,9750,9750.000000,36 months,13.98%,333.14,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,15100,NaN,NaN,NaN
2,10159498,1319523,12000,12000,12000.000000,36 months,6.62%,368.45,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,61100,NaN,NaN,NaN
3,10139658,11991209,12000,12000,12000.000000,36 months,13.53%,407.40,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,8100,NaN,NaN,NaN
4,10159548,12011167,15000,15000,15000.000000,36 months,8.90%,476.30,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,15400,NaN,NaN,NaN
5,10119623,11971241,12000,12000,12000.000000,36 months,11.99%,398.52,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,16200,NaN,NaN,NaN
6,10129477,11981093,14000,14000,14000.000000,36 months,12.85%,470.71,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,4500,NaN,NaN,NaN
7,10129403,11981032,7550,7550,7550.000000,36 months,16.24%,266.34,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,8000,NaN,NaN,NaN
8,10159611,12011228,10000,10000,10000.000000,36 months,9.67%,321.13,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,22300,NaN,NaN,NaN
9,10179520,12031088,3000,3000,3000.000000,36 months,12.85%,100.87,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,5300,NaN,NaN,NaN
10,10148122,11999781,12000,12000,12000.000000,36 months,7.62%,373.94,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,23800,NaN,NaN,NaN
11,10149577,12001118,28000,28000,28000.000000,36 months,7.62%,872.52,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,54200,NaN,NaN,NaN
12,10149526,12001069,27600,27600,27600.000000,60 months,19.97%,730.78,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,32600,NaN,NaN,NaN
13,10224583,12086734,11100,11100,11100.000000,36 months,14.98%,384.68,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,10000,NaN,NaN,NaN
14,10127816,11979581,24000,24000,24000.000000,36 months,13.53%,814.80,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,28200,NaN,NaN,NaN
15,10149566,12001108,8000,8000,8000.000000,36 months,10.99%,261.88,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,20800,NaN,NaN,NaN
16,10119590,11971211,11500,11500,11500.000000,60 months,22.90%,323.54,E,E4,...,NaN,NaN,NaN,NaN,NaN,NaN,14100,NaN,NaN,NaN
17,10148818,12000415,15000,15000,15000.000000,36 months,14.47%,516.10,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,25800,NaN,NaN,NaN
18,10129454,11981072,12000,12000,12000.000000,36 months,10.99%,392.81,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,29700,NaN,NaN,NaN
19,10149488,12001033,4800,4800,4800.000000,36 months,10.99%,157.13,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,25700,NaN,NaN,NaN
20,10129506,11981122,20800,20800,20800.000000,36 months,13.53%,706.16,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,43100,NaN,NaN,NaN
21,10119540,9331570,21000,21000,21000.000000,36 months,7.62%,654.39,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,27700,NaN,NaN,NaN
22,10079457,11931082,10000,10000,10000.000000,36 months,11.99%,332.10,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,19100,NaN,NaN,NaN
23,10109602,11961187,4500,4500,4500.000000,36 months,19.22%,165.46,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,20500,NaN,NaN,NaN
24,10089634,11941167,20000,20000,20000.000000,60 months,16.24%,488.92,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,28400,NaN,NaN,NaN
25,10089642,11941174,7200,7200,7200.000000,36 months,10.99%,235.69,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,9800,NaN,NaN,NaN
26,10109669,11961248,20000,20000,20000.000000,36 months,13.98%,683.36,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,28800,NaN,NaN,NaN
27,10119562,11971186,31825,31825,31825.000000,60 months,20.50%,852.05,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,47800,NaN,NaN,NaN
28,8617375,10389317,10000,10000,10000.000000,60 months,13.98%,232.58,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,11500,NaN,NaN,NaN
29,10099585,11951188,18450,18450,18450.000000,36 months,13.98%,630.40,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,42400,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188095,1066540,1300919,16400,16400,16400.000000,36 months,16.29%,578.93,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188096,1066264,1300628,10000,10000,10000.000000,36 months,11.71%,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188097,1066384,1300345,15000,15000,15000.000000,36 months,6.03%,456.54,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188098,1059334,1291137,35000,35000,33429.996633,60 months,13.49%,805.17,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188099,1057322,1288885,12000,12000,12000.000000,36 months,6.03%,365.23,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188100,1065469,1299578,20750,20750,20725.000000,60 months,12.42%,465.99,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188101,1065451,1299555,22000,22000,22000.000000,60 months,12.42%,494.06,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188102,1065594,1299493,6600,6600,6600.000000,60 months,17.58%,166.10,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188103,1065309,1299395,22000,22000,22000.000000,60 months,14.65%,519.35,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188104,1065073,1299139,7500,7500,7500.000000,36 months,6.03%,228.27,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188105,1065066,1299132,33950,33950,31311.688766,60 months,15.96%,824.88,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188106,1064860,1298707,4000,4000,4000.000000,36 months,14.65%,137.98,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188107,1064243,1298032,18000,18000,10075.000000,60 months,22.35%,500.73,F,F5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188108,1064827,1298668,10000,10000,10000.000000,36 months,9.91%,322.25,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188109,997758,1222885,35000,21775,20375.659759,60 months,22.74%,610.60,G,G1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188110,1042487,1272771,20000,13675,6675.000000,60 months,19.91%,361.62,E,E4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188111,1063722,1296291,18000,18000,16737.957469,60 months,17.58%,452.98,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188112,1063649,1296212,17500,16800,16775.000000,60 months,22.74%,471.10,G,G1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188113,1062754,1295040,35000,22550,22550.000000,60 months,14.27%,527.87,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188114,1061393,1293181,24000,24000,22961.954975,60 months,12.69%,542.28,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188115,1061272,1293083,8650,8650,8625.000000,36 months,14.65%,298.38,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188116,1062334,1294400,20000,12675,12675.000000,60 months,14.27%,296.71,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188117,1062337,1294403,12000,12000,11975.000000,36 months,7.90%,375.49,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188118,1062400,1294262,20500,20500,20500.000000,36 months,16.77%,728.54,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188119,1059394,1291010,15000,15000,15000.000000,36 months,15.27%,521.97,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188120,1059224,1290827,35000,35000,35000.000000,36 months,15.96%,1229.81,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188121,1058722,1290521,12000,12000,12000.000000,36 months,16.29%,423.61,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188122,1058291,1289878,12000,7775,7775.000000,60 months,15.27%,186.08,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188123,Total amount funded in policy code 1: 2700420250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188124,Total amount funded in policy code 2: 82622275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
all_loan = pd.concat([loan_2013, loan_2014, loan_2015])

In [13]:
all_loan['int_rate_num'] = [float(str(t).replace("%", ""))/100 for t in all_loan.int_rate]
all_loan.int_rate_num

0         0.1099
1         0.1398
2         0.0662
3         0.1353
4         0.0890
5         0.1199
6         0.1285
7         0.1624
8         0.0967
9         0.1285
10        0.0762
11        0.0762
12        0.1997
13        0.1498
14        0.1353
15        0.1099
16        0.2290
17        0.1447
18        0.1099
19        0.1099
20        0.1353
21        0.0762
22        0.1199
23        0.1922
24        0.1624
25        0.1099
26        0.1398
27        0.2050
28        0.1398
29        0.1398
           ...
290563    0.1366
290564    0.1599
290565    0.1786
290566    0.1144
290567    0.1786
290568    0.0819
290569    0.1559
290570    0.1599
290571    0.1559
290572    0.0867
290573    0.0603
290574    0.0819
290575    0.0949
290576    0.0603
290577    0.1431
290578    0.1649
290579    0.0649
290580    0.1499
290581    0.0867
290582    0.1924
290583    0.0949
290584    0.1559
290585    0.1199
290586    0.1199
290587    0.1199
290588    0.1599
290589    0.1999
290590    0.1199
290591       NaN
290592       NaN
Name: int_rate_num, dtype: float64

In [14]:
# if value is float, fill in blank wiht mean, otherwise fill in with sample data

for col in features:
    if all_loan[col].dtype == 'float64':
        all_loan[col].fillna(all_loan[col].mean(), inplace=True)
    else:
        all_loan[col].fillna(all_loan[col].sample(), inplace=True)

In [15]:
all_loan[features].isnull().any()

loan_amnt           False
term                 True
emp_length           True
home_ownership       True
annual_inc          False
pymnt_plan           True
purpose              True
dti                 False
delinq_2yrs         False
inq_last_6mths      False
open_acc            False
pub_rec             False
revol_bal           False
revol_util           True
total_acc           False
acc_now_delinq      False
total_rev_hi_lim    False
dtype: bool

254736     60 months
Name: term, dtype: object

n    290590
y         1
dtype: int64

In [17]:

y = all_loan[~all_loan.int_rate_num.isnull()].int_rate_num

X = pd.get_dummies(all_loan.ix[~all_loan.int_rate_num.isnull(), features])

In [18]:

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [21]:
from sklearn.linear_model import Ridge
ridge_model = Ridge(alpha=1.0)
ridge_model.fit(X_train, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, solver='auto', tol=0.001)

In [22]:
# R-sqaured
ridge_model.score(X_test,y_test)

0.40559881947003373

In [48]:
pred = ridge_model.predict(X_test)

In [49]:
actual = y_test

In [50]:
# Prediction within 20% of true values

(abs((pred - actual)/actual) < 0.2).value_counts()

True     101359
False     77227
dtype: int64

In [26]:
# Mean Squared Error
from sklearn.metrics import mean_squared_error
mean_squared_error(actual, pred)

0.0011702764828227252

In [45]:
# Quantiles of errors
(abs((pred - actual)/actual)).quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.75, 0.9])

0.10    0.032030
0.20    0.064515
0.30    0.097952
0.40    0.133245
0.50    0.171611
0.75    0.299075
0.90    0.477076
dtype: float64

In [28]:
from sklearn import linear_model
lasso_model = linear_model.Lasso(alpha=0.1)
lasso_model.fit(X_train, y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [30]:
# R-squared
lasso_model.score(X_test,y_test)

0.021172606319151743

In [58]:
pred = lasso_model.predict(X_test)
actual = y_test

# Prediction within 20% of true values

(abs((pred - actual)/actual) < 0.2).value_counts()

False    91494
True     87092
dtype: int64

In [59]:
# Mean Squared Error
from sklearn.metrics import mean_squared_error
mean_squared_error(actual, pred)

0.0019271473830957655

In [64]:
# Quantiles of errors

(abs((pred - actual)/actual)).quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.75, 0.9])

0.10    0.037324
0.20    0.075530
0.30    0.115512
0.40    0.158462
0.50    0.206229
0.75    0.375990
0.90    0.688798
dtype: float64

In [ ]:
#Summary
#R-squared
# Ridge: 0.40559881947003373
# Lasso: 0.021172606319151743

# Mean Squared Error
# Ridge: 0.0011702764828227252
# Lasso: 0.0019271473830957655

# Prediction within 20% of true values
# Ridge: 
#  True     101359
#  False     77227

# Lasso: 
#  True     87092
#  False    91494
 
# Quantiles of errors
# Ridge: 
# 0.10    0.032030
# 0.20    0.064515
# 0.30    0.097952
# 0.40    0.133245
# 0.50    0.171611
# 0.75    0.299075
# 0.90    0.477076

# Lasso: 
# 0.10    0.037324
# 0.20    0.075530
# 0.30    0.115512
# 0.40    0.158462
# 0.50    0.206229
# 0.75    0.375990
# 0.90    0.688798